.gLFyf {
    /*
    background-color: transparent;
    border: none;
    margin 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: -37px;
    */
}

.center-content {
    text-align: center;
}

